@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Alice&family=Montserrat:wght@400;700&display=swap');


.head{
  font-size: 30px;
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
  background: linear-gradient(to right, #4E56C0,#9B5DE0, #D78FEE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input{
  width: 100%;
  height: 250px;
  background: #f5f7fa;
  padding: 10px;
  margin-top: 10px;
  font-family: Montserrat;
  border-radius: 10px;
}

.text{
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
}